.reports-container {
	min-width: 40rem;

	position: relative;
}

.btn-container {
	position: absolute;
	bottom: 5%;
	right: 4rem;
	z-index: 200;
}

.reports-wrapper {
	padding: 0 1rem;
	min-height: 10rem;
	max-height: 70vh;
	overflow-y: visible;
	position: relative;
	overflow-x: hidden;
}

@media (max-width: 350px) {
	.reports-container {
		width: 30rem;
	}
}
