.reports-container {
	min-width: 40rem;
	position: relative;
}

.app-title {
	padding: 0 0 4rem;
	letter-spacing: 1px;
	font-weight: 100;
	font-size: 4rem;
}

@media (max-width: 350px) {
	.reports-container {
		width: 30rem;
	}
}
