.btn {
	background-color: #0e273c;
	color: #f0f9f8;
	font-family: inherit;
	border: 0;
	padding: 0.8rem 4rem;
	border-radius: 5px;
	font-size: 1.8rem;
	align-self: center;
	margin: 2rem 0;
	transition: background-color 0.2s linear;
	cursor: pointer;
}

.btn-square {
	position: fixed;
	bottom: 4rem;
	transform: translateX(-12rem);
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
	margin: 0;
	font-weight: 600;
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
}

.btn:hover {
	background-color: #1d405c;
}

.btn:active {
	transform: scale(0.98);
}

.btn-square span {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4rem;
}

.btn-square:active {
	transform: translateX(-12rem) scale(0.98);
}
